<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    {% block extraHeadScripts %}{% endblock %}
  </head>

  <body>
    {% block main %}
      <h1>default main</h1>
      <img src="public/images/cat.jpg" alt="cat">
    {% endblock %}

  </body>
<html>

